.starfield-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #0f0f1b 0%, #000000 100%);
    z-index: 0;
    overflow: hidden;
    pointer-events: none;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}

.stars-small {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 150s linear infinite;
}

.stars-small::after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: inherit;
}

.stars-medium {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 100s linear infinite;
}

.stars-medium::after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: inherit;
}

.stars-large {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 50s linear infinite;
    border-radius: 50%;
}

.stars-large::after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: inherit;
    border-radius: 50%;
}